.section {
  height: 100%;
  border: 1px solid;
  display: flex;
  width: 25%;
  min-width: 140px;
  background-color: rgb(0 0 0 /50%);
  gap: 20px;
  flex-direction: column;
  overflow-y: scroll;
}

.section::-webkit-scrollbar {
  width: 2px;
}

.friend {
  margin: 0;
}

.active {
  background: rgb(0 0 0 /50%);
}
